<div>
    <h1>Register</h1>
    <form>
        <fieldset>
            <input >
            <br>
            <input>
            <div >
              <select >
                <option >Select an Occupation</option>
                <option >Dust farmer</option>
                <option >Alien hunter</option>
                <option >Battery technician</option>
                <option >Yoga teacher</option>
                <option >Front-end developer</option>

              </select>
            </div>
        </fieldset>
        <fieldset>
             <button >Check in</button>
        </fieldset>
    </form>
</div>
