.page-container {
	display:flex;
	flex-direction: column;
}

h1 {
    flex: 1;
	display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 24px;
}

form {
	flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div {
  background: black;
}
select {
    background: black;
    color: white;
}
input{
  background: black;
  color: white;
}
