<div class="page-container encounters">
  <h1 class="inverse">Recent Encounters
    <span>See an Alien? Report it!</span>
  </h1>
	<ul class="inverse">
		<li *ngFor="let encounter of encounters">
			<div class="encounter-details">
				{{ encounter.date }} - <span>{{ encounter.atype }}</span>
			</div>
			<p class="encounter-resolution">
				{{ encounter.action }}
			</p>
		</li>
	</ul>
	<footer>
		<button (click)="report()">Report Encounter</button>
    <a href="report.component.html">Report</a>
	</footer>
</div>
